.view-recipe-container {
	.current-step {
		color: #6CD27F;
		font-size: 32px;
	}

	.listening-state {
		bottom: 8px;
		left: 8px;
		position: fixed;
	}

	.step-counter {
		align-items: center;
		display: flex;
	}

	.recipe-viewer.maximized {
		background-color: #FFF;
		bottom: 0;
		left: 0;
		margin: 0;
		position: fixed;
		right: 0;
		top: 0;

		.btn-group {
			display: none;
		}

		.current-step {
			font-size: calc(4vw + 4vh);
			text-align: center;
		}

		.step-counter {
			font-size: 80px;
			text-align: center;
			display: initial;
			text-decoration: underline;
			font-weight: bold;
		}

		.description {
			display: none;
		}

		.ingredient-list {
			display: none;
		}

		.panel-heading {
			display: none;
		}
	}

	.step-label {
		margin-left: 8px;
	}

	.view-header {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}
}