@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
  background-color: #EEE;
  font-family: 'Oswald', sans-serif;
  min-height: 100vh;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 16px;
}